body {
    background-color: #1bacaf;
    color: white;
    font-family: 'Krona One', sans-serif;
    font-family: 'Zilla Slab', serif;
}

fieldset{
    border: hidden;
}

input{
    width: 90px;
}

h1{
    font-size: 35px;
    position: relative;
    left: 40px;
}

#labelName, #labelEmail, #labelCpf, #labelEndereco, #labelCidade, #labelEstado, #labelEmpresa, #labelCargo, #dataT, #dataI{ 
    font-size: 26px;
}

#name, #email, #cpf, #endereco, #cidade, #empresa, #cargo{
    width: 200px;
    height: 28px;
    border-radius: 8px;
    left: 5px;
    position: relative;
    font-size: 18px;
    border-style: none;
}

#name, #email{
    width: 300px;
}

#cpf{
    width: 230px;
}
#labelCpf, #cpf{
    position: relative;
    left: 25px
}

#endereco{
    width: 263px;
}

#cidade{
    width: 286px;
}

#divEstado{
    position: absolute;
    top: 150px;
    left: 425px;
}

#selectEstados{
    width: 60px;
    font-size: 18px;
    border-radius: 8px;
    background-color: white;
    color: black;
    height: 28px;
    border-style: none;
}

#casa, #apartamento{
    font-size: 24px;
}
   
h2{
    position: relative;
    left: 30px;
    font-size: 30px;
}

#empresa{
    width: 270px;
}

#dataTermino{
    width: 132px;
    height: 28px;
    border-radius: 8px;
    border-style: none;
}

#dataInicio{
    width: 130px;
    height: 28px;
    border-radius: 8px;
    border-style: none;
}

#textArea{
    border-radius: 8px;
    font-size: 22px;
    border-style: none;
}

#btnSubmit{
    border-radius: 8px; 
    font-size: 20px;
    font-family: 'Krona One', sans-serif;
    font-family: 'Zilla Slab', serif; 
}

button{
    background-color: white;
    border-color: none;
    border-width: none;
    border-style: none;
    position: relative;
    left: 15px;
    top: -15px;
}

