/*Exercícios do site https://flexboxfroggy.com/ para fixar o conteúdo de flexbox do bloco 6.*/
#pond {
    display: flex;
  justify-content: flex-end;
}

#pond {
    display: flex;
  justify-content: center;
}

#pond {
  display: flex;
  justify-content: space-around;
}

#pond {
  display: flex;
  justify-content: space-between;
}

#pond {
  display: flex;
  align-items: flex-end;
}

#pond {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pond {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

#pond {
  display: flex;
  flex-direction: row-reverse;
}

#pond {
  display: flex;
  flex-direction: column;
}

#pond {
  display: flex;
  flex-direction: row-reverse;
  justify-content:flex-end;
}

#pond {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#pond {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

#pond {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
}

#pond {
  display: flex;
}
  
.amarelo {
  order: 3;
}

#pond {
  display: flex;
}
  
.red {
  order: -3;
}

#pond {
    display: flex;
    align-items: flex-start;
}
  
.amarelo {
  align-self: flex-end;
}

#pond { 
  display: flex; 
  align-items: flex-start; 
} 
  
.yellow {
  align-self: flex-end;
  order: 1;
}

#pond {
  display: flex;
  flex-wrap: wrap;
}

#pond {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#pond {
  display: flex;
  flex-flow: wrap column;
}

#pond {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

#pond {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

#pond {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: center;
}

#pond {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  align-content: space-between;
  justify-content: center;
}
/*Exercícios do site https://flexboxfroggy.com/ para fixar o conteúdo de flexbox do bloco 6.*/

/*Exercícios do site http://www.flexboxdefense.com para fixar o conteúdo de flexbox do bloco 6*/
.tower-group-1 {
  display: flex;
  justify-content: center;
}

.tower-group-1 {
  display: flex;
  justify-content: flex-end;
}
.tower-group-2 {
  display: flex;
  justify-content: center;
}
.tower-group-3 {
  display: flex;
  justify-content: flex-end;
}

.tower-group-1 {
  display: flex;
  justify-content: center;
}

.tower-group-2 {
  display: flex;
  justify-content: space-between;
}

.tower-group-1 {
  display: flex;
  align-items: flex-end;
}
.tower-group-2 {
  display: flex;
  align-items: flex-end;
}

.tower-group-1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.tower-group-2 {
  display: flex;
  justify-content: center;
}
.tower-group-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tower-group-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.tower-group-1 {
  display: flex;
  flex-direction: column;
}
.tower-group-2 {
  display: flex;
  flex-direction: column;
}

.tower-group-1 {
  display: flex;
  flex-direction: column;
}
.tower-group-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tower-group-1 {
  display: flex;
  justify-content: space-around;
}
.tower-group-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tower-group-1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.tower-group-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.tower-group-1 {
  display: flex;
  justify-content: space-around;
}
.tower-1-1 {
  order: 1;
}
.tower-1-2 {
  order: 3;
}
.tower-1-3 {
  order: 2;
}
.tower-group-2 {
  display: flex;
  justify-content: space-around;
}
.tower-2-1 {
  order: 2;
}
.tower-2-2 {
  order: -1;
}
.tower-2-3 {
  order: 3;
}

.tower-group-1 {
  display: flex;
  justify-content: space-between;
}
.tower-1-1 {
  align-self: flex-start;
}
.tower-1-2 { 
  align-self: flex-start;
}
.tower-1-3 {
  align-self: flex-end;
}
.tower-1-4 {
  align-self: flex-end;
}

.tower-group-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tower-1-1 {
  align-self: flex-start;
}
.tower-1-2 {
}
.tower-1-3 {
  order: 3;
}
.tower-1-4 {
}
.tower-1-5 {
  align-self: flex-end;
  order: 5;
}
/*Exercícios do site http://www.flexboxdefense.com para fixar o conteúdo de flexbox do bloco 6*/